*{
	font-family: 'Titillium Web', sans-serif;
}

h4{
	font-size: 28px;
	color: #3b3b3b;
	font-weight: 500;

	margin-bottom: 0px;
	display: inline-block;
}

p{
	color: #3b3b3b;
	font-size: 19px;
	margin-bottom: 15px;
	margin-top: 5px;
}

.main{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #ebecf0;
	width: 700px;
	border-radius: 10px 10px 10px 10px;
	float:left;
	background-image: url("/stud_log_new.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 10px grey;
}

.main form{
	padding: 20px 40px;
	margin-left: 50px;
	box-sizing: border-box;		
}

form .join{
	position: relative;
	border-bottom: 1px solid #adadad;
	width: 500px;
	margin: 30px 0;
}

.join input{
	width: 100%;
	padding: 0px 5px;
	height: 40px;
	font-size: 16px;
	border: none;
	background: none;
	outline: none;
}

.join label{
	position: absolute;
	top: 70%;
	left: 5px;
	color: #000000;
	transform: translateY(-50%);
	font-size: 16px;
	pointer-events: none;
	transition: .5s;
}

.join span::before{
	content: '';
	position: absolute;
	top: 40px;
	left:0%;
	height: 2px;
	transition: .5s;
}

.join input:focus ~ label,
.join input:valid ~ label{
top: -5px;
color: #90c7f2;
}

.join input:focus ~ span::before,
.join input:valid ~ span::before{
width: 100%;
}

input[type="submit"]{
	width: 15%;
	height: 30px;
	margin-left: 80%;
	border: 1px solid;
	background-color: #90c7f2;
	font-size: 16px;
	border-radius: 25px;
	color: #e9f4fb;
	cursor: pointer;
	outline: none;
}

input[type="submit"]:hover{
	background-color: #7494c4;
  transition: .5s;
}

span{
	color: #90c7f2;
	font-size: large;
	font-weight: 600;
}

.extra{
	color: darkred;
}