*{
    font-family: 'Titillium Web', sans-serif; /*font*/
}

header{
background-color: #dbdbdb; /*header part #dbdbdb*/
padding: 20px;
width: 100%;
position: fixed;
top: 0;
left: 0;
text-align: left;
overflow: hidden;
}

.login{
    margin-left: 1600px;
    width: 90px;
    height: 40px;
    border-radius: 25px;
    border: none;
    background-color: #be9de2;
}

.signup{
    margin-left: 15px;
    width: 90px;
    height: 40px;
    border-radius: 25px;
    border: none;
    background-color: #be9de2;
}

.login:hover{
    background-color: #904fc3;
}

.signup:hover{
    background-color: #904fc3;
}

h1{
    position: absolute;
    top: 500;
    left: 50;
    color: white;
    font-weight: 900;
}

p{
    position: absolute;
    top: 550;
    left: 50;
    color: white;
    font-size: 20px;

}

.img{
    width: 100%;
    height: 100%;
    opacity: 0.9;
}

