<DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" href="../landing.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
       
    </head>

    <body>
        <div class="img">
        <img src="/landing.jpg" alt="landingpage" style="width: auto;">
        </div>
        <header>
            <span style="font-size: xx-large; font-weight: bold; display: block; color: aliceblue; position: absolute; padding-bottom: 25px;">SmartSchool</span>
            <div class="buttons">
            <button class="login" onclick="location.href='/login'">Login</button>
            <button class="signup" onclick="location.href = '/signup'">Signup</button>
            </div>
        </header>
         <h1 style="font-family: 'Titillium Web', sans-serif; font-weight: 600;">All your classes in one place.</h1> 
         <pre>
         <p>SmartSchool helps millions of teachers and students worldwide interact over the internet.
Teachers can keep track of the students' attendance and give timed assignments to them.
Students can submit their assignments and also access material uploaded by the teacher which is stored in cloud.
Join SmartSchool NOW to make your learning process more efficient!</p>
         </pre>
    </body>
</html>