<DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" href="../../../notes.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script>
            function openNav() {
              document.getElementById("mySidebar").style.width = "250px";
              document.getElementById("main").style.marginLeft = "250px";
            }
    
            /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
            function closeNav() {
              document.getElementById("mySidebar").style.width = "0";
              document.getElementById("main").style.marginLeft = "0";
            }
  
            function openWindow(){
              //window.open("www.google.com"); //Change this to the notes link//
            }
  
        </script>
    </head>
  
    <body>
        <header><button class="openbtn" onclick="openNav()">&#9776;</button></button>
            <div class="tabs">
            <%if (isTeacher){%>
            <button class="assignments" onclick="location.href = './'">Assignments</button> 
            <%}else{%>   
            <button class="assignments" onclick="location.href = '../'">Assignments</button>
            <%}%>
            <button class="notes">Notes</button>
            <button class="attendance" onclick="location.href = './attendance'">Attendance</button>
            </div>
        </header>    
        <div class="cards">          
            <%if (isTeacher){%>
            <button class="create_assign" onclick="window.open('addnotes','popup','width=800,height=600');"><span style="font-size: 50px;">+</span></button><br>                    
            <%}%>  
            <div class="space"></div>
  
            <div class="assignments">
                <h2 style="margin-left: 50px;  font-family: 'Titillium Web', sans-serif;">Notes</h2>
                <%if (!(typeof filepaths == 'undefined')){%>
                <%for (var i=0; i < filepaths.length; i++){%>  
                <button style="background-color: #eeedfc;" onclick="openWindow()"><a href="<%=filepaths[i]%>" target="_blank"><%=filenames[i]%></a>
                  <div style="font-size: xx-large;">
                  <div style="font-size: small;">     
                </button>
                <%}%>
                <%}else{%>
                  <h5 style="margin-left: 50px; font-family: 'Titillium Web', sans-serif;">No notes posted yet.</h5>
                <%}%>
                <hr style="height: 1px;border: none;background-color: lightgray;"/>
                <h2 style="margin-left: 50px; font-family: 'Titillium Web', sans-serif;">Important links</h2>
                <%if (!(typeof links == 'undefined')){%>
                <%for (var i=0; i < links.length; i++){%>  
                <button style="background-color: #eeedfc;" onclick="openWindow()"><a href="<%=links[i].link%>" target="_blank"><%=links[i].name%></a>
                  <div style="font-size: xx-large;">
                  <div style="font-size: small;">     
                </button>
                <%}%>
                <%}else{%>
                  <h5 style="margin-left: 50px; font-family: 'Titillium Web', sans-serif;">No links posted yet.</h5>
                <%}%>

            </div>
   
        </div>         
        <div id="mySidebar" class="sidebar">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <a href="/home">My classes</a>
          <a href="/join">Join class</a>
          <a href="/create">Create class</a>
          <a href="/logout" id="logout"><i class='bx bx-log-out'></i>   Log out </a>
        </div>        
      </body>
    </html>